<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>echarts</title>
    <style type="text/css">
        html,
        body {
            width: 100%;
            height: 100%;
        }
 
        body {
            margin: 0px;
            padding: 0px
        }
 
        div {
            float: left;
        }
 
        #container {
            width: 50%;
            height: 100%;
        }
 
        #info {
            padding: 10px 20px;
        }
    </style>
</head>

<table class="table table-bordered" id='tabletest'>
    <tr>
        <th>Time：</th>
        <th>Name：</th>
        <th>Data：</th>
    </tr>
 </table>
 
<body>
    <div id="container"></div>
    <div id="info">数据展示：</div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
	<script>
        $.ajax({
        url: "yd_data",
        type: "GET",
        dataType: "json",
        success: function (data) {
            console.log(data)
		
		    //方法中传入的参数data为后台获取的数据
            for(i in data) //data.data指的是数组，数组里是8个对象，i为数组的索引
            {
				
				var tr;
                tr='<td>'+data[i].Time+'</td>'+'<td>'+data[i].nickname+'</td>'
				if (data[i].step == 'None')
				{
					tr += '<td>'+data[i].cal+'卡'+'</td>'
				}
				else
				{
					tr += '<td>'+data[i].step+'步'+'</td>'
				}
                $("#tabletest").append('<tr>'+tr+'</tr>')
            }
		
		
		
        }
        })
		
		
	
 
	</script>
    
</body>
 
</html>